body {margin: 10px }

h1 {font-size: 50px;} 

h2 {
	margin-left: 50px;
	font-weight: bold;
    font-size: 25px;
    margin-top: 35px;
    line-height: 1.3em;
}

h3 {
  padding: 0; margin-bottom: -15px;
  margin-left: 50px;
  font-weight: bold;
    font-size: 17.5px;
}

.monospace {
  font-family: "Space Mono", "Courier New", Courier, monospace;
}

p { 
  text-align: justify;
	font-size: 16px;
	margin-left: 50px;
	margin-right: 50px;
}

li {
	font-size: 14px;
	padding: 5px; 
	margin-left: 15px;
	width:600px;
}

a:visited {color: purple;}
a:link {color: blue;}
a:hover{color: orange;}
a:active{color: black}

#special {
	color:black; 
	font-size: 25px;
	font-weight: 700;}
#special1 {
	margin-left: 0px;}
#special2 {
  text-align: justify;
	margin-left: 75px;}
#specialImg {
  height:250px;
  width:400px;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.column {
  float: left;
  width: 25%;
  padding: 15px;
}

img {
  border-radius: 8px;
}
div.container {
  text-align: center;
  padding: 10px 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

div.horizontalgap {
  float: left;
  overflow: hidden;
  height: 1px;
  width: 0px;
}